services:
  server:
    image: alexay7/marbleblue:latest
    ports:
        - "80:80"
        - "22345:22345"
    restart: unless-stopped
    environment:
      - MONGO_URI=mongodb://db/MarbleBlue
      - ALLNET_HOST=
      - AIME_SECRET=
      - AIME_KEY=
      - DEFAULT_CHU3_MATCHING_URI=
      - DEFAULT_CHU3_MATCHING_REFLECTOR=
      - SCORES_SERVER=
      - WEBUI_URL=
      - TZ=Asia/Tokyo
      - SESSION_SECRET=
      - KEYCHIP_AUTH=false
      - BETTER_AUTH_SECRET=
      - BETTER_AUTH_URL=
    depends_on:
      - db
  db:
    # A newer version can be used, my CPU is just too old for mongo >5
    image: mongo:4.4.22
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongo localhost:27017/test --quiet
      interval: 30s
      timeout: 10s
      retries: 3
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    restart: unless-stopped
#  frontend:
#    build: .
#    image: alexay7/marblebluefront:latest
#    ports:
#      - "3000:80"
#    restart: unless-stopped
#    environment:
#      - MY_APP_DISCORD_URL=
#      - MY_APP_SCORES_SERVER=
#      - MY_APP_API_URL=
#    volumes:
#      - ./public:/tmp/public:ro
#    command: >
#      sh -c "/docker-entrypoint.d/env.sh && cp -rn /tmp/public/* /usr/share/nginx/html && nginx -g 'daemon off;'"

volumes:
    mongo-data:
        driver: local